@font-face {
  font-family: "Tw Cen MT";
  src: url("./fonts/TCM/TCM.eot"); /* IE9 Compat Modes */
  src: url("./fonts/TCM/TCM.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/TCM/TCM.otf") format("opentype"),
    /* Open Type Font */ url("./fonts/TCM/TCM.svg") format("svg"),
    /* Legacy iOS */ url("./fonts/TCM/TCM.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/TCM/TCM.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/TCM/TCM.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tw Cen MT";
  src: url("./fonts/TCB/TCB.eot"); /* IE9 Compat Modes */
  src: url("./fonts/TCB/TCB.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/TCB/TCB.otf") format("opentype"),
    /* Open Type Font */ url("./fonts/TCB/TCB.svg") format("svg"),
    /* Legacy iOS */ url("./fonts/TCB/TCB.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/TCB/TCB.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/TCB/TCB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tw Cen MT";
  src: url("./fonts/TCLI/TwCenMTStd-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/TCLI/TwCenMTStd-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/TCLI/TwCenMTStd-LightItalic.otf")
      format("opentype"),
    /* Open Type Font */ url("./fonts/TCLI/TwCenMTStd-LightItalic.svg")
      format("svg"),
    /* Legacy iOS */ url("./fonts/TCLI/TwCenMTStd-LightItalic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/TCLI/TwCenMTStd-LightItalic.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/TCLI/TwCenMTStd-LightItalic.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: lighter;
  font-style: italic;
}

body {
  background: url("./images/bg.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  widows: 100%;
}

/* Custom nav bar */
.navbar {
  position: fixed !important;
  left: 0;
  width: 100%;
  padding: 0 !important;
  z-index: 1000;
}

.navbar .navbar-nav .nav-item:hover {
  background-color: #000;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 16px 0 16px 0;
}

.navbar .navbar-nav .nav-item .nav-link a {
  color: #fff;
  font-size: 20px;
  padding: 16px 0 16px 0;
}

.navbar .navbar-nav .nav-item:nth-child(1) .nav-link a {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar .navbar-nav .nav-item:nth-child(2) .nav-link a {
  padding-left: 32px;
  padding-right: 32px;
}

.navbar .navbar-nav .nav-item .nav-link a:hover {
  text-decoration: none;
}
/* End custom nav bar */

/* Removing blue highlight when click on input field */
input:focus {
  outline: none !important;
}

input[type="text"] {
  font-size: 3vw;
  color: #fff;
}

/* Removing blue highlight when click on button */
button {
  outline: none !important;
}

/* Styling table */

.ReactTable {
  border: none !important;
}
.ReactTable .rt-thead,
.ReactTable .rt-tbody {
  min-width: auto !important;
}

.ReactTable .rt-thead {
  background-color: #7dc0b1;
  color: #fff;
  font-size: 1.7vw;
  padding: 1.2vh 0 1.2vh 0;
}

.ReactTable .rt-table {
  border-radius: 25px;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  overflow: visible !important;
}

.ReactTable .rt-thead .rt-tr .rt-th:first-child {
  width: auto !important;
  max-width: 30% !important;
}

.ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) {
  width: auto !important;
  max-width: 70% !important;
  border-right: none;
}

.ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) div {
  text-align: center;
}

.ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) {
  display: none;
}

.ReactTable .rt-tbody {
  font-size: 1.5vw;
}

/* Erase stupid 1px row gap */
.ReactTable .rt-tr-group {
  border-bottom: none !important;
}

.ReactTable .rt-tr.-odd {
  background-color: #f3f3f3 !important;
}

.ReactTable.-striped .rt-tr.-even {
  background-color: rgb(233, 233, 233) !important;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(1) {
  max-width: 30%;
  text-align: center;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(2) {
  max-width: 40%;
  border-right: none;
  margin-left: 12px;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(3) {
  max-width: 30%;
  font-weight: lighter;
  font-style: italic;
  text-align: right;
  color: #8a8a8a;
  margin-right: 12px;
}

/* Styling 'no data' text */
.ReactTable .rt-noData {
  font-size: 1.5vw;
  text-align: center;
}

/* End styling table */

@media only screen and (max-width: 1220px) {
  .modal-dialog {
    max-width: 82vw !important;
  }

  .modal-dialog .modal-body > .row {
    padding: 0 14px !important;
  }

  .modal-dialog .modal-body h1 {
    font-size: 2.6vw !important;
  }

  .modal-dialog .modal-body .col-lg-12 {
    height: 64vh !important;
  }

  .modal-dialog .modal-body p {
    font-size: 1.5vw !important;
  }

  .modal-dialog .modal-footer button {
    padding: 2vh 8vw 2vh 8vw !important;
    /* width: 22vw !important; */
    font-size: 2.6vw !important;
  }
}

@media only screen and (max-width: 1080px) {
  header > h1 {
    font-size: 6.5vw !important;
  }

  .container > h1 {
    font-size: 3.6vw !important;
  }

  .form-group h1 {
    font-size: 3.6vw !important;
  }

  input[type="text"] {
    font-size: 3.6vw !important;
  }

  .form-group button {
    font-size: 3.6vw !important;
    margin-top: 8.8vh !important;
  }

  .modal-dialog {
    max-width: 92vw !important;
  }

  .modal-dialog .modal-body h1 {
    font-size: 3vw !important;
  }

  .modal-dialog .modal-body p {
    font-size: 1.6vw !important;
  }

  .ReactTable .rt-tbody {
    font-size: 1.7vw;
  }

  .ReactTable .rt-thead {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 992px) {
  .modal-dialog {
    max-height: 82vh !important;
  }

  .modal-dialog .modal-body {
    max-height: 82vh !important;
    overflow-y: scroll !important;
  }

  .modal-dialog .modal-body h1 {
    font-size: 4.2vw !important;
    font-weight: bold;
  }

  .modal-dialog .modal-body .col-lg-12 {
    height: auto !important;
    padding-bottom: 46px;
  }

  .modal-dialog .modal-body .col-lg-12 .row {
    margin-top: 36px !important;
  }

  .modal-dialog .modal-body .col-lg-12 .row div {
    border-radius: 40px !important;
    margin: auto !important;
  }

  .modal-dialog .modal-body .col-lg-12 .row div p {
    font-size: 2.8vw !important;
    padding: 14px 0 14px 0 !important;
  }

  .ReactTable .rt-tbody {
    font-size: 2.7vw;
  }

  .ReactTable .rt-thead {
    font-size: 3.2vw;
  }

  .request-title {
    font-size: 5.2vw !important;
  }
}

@media only screen and (max-width: 768px) {
  .container form {
    margin: 3vh 2vw !important;
  }

  input[type="text"] {
    font-size: 5.6vw !important;
    text-align: center;
  }

  .form-group button {
    font-size: 4.6vw !important;
    margin-top: 5.8vh !important;
  }
}

@media only screen and (max-width: 654px) {
  header {
    margin: 0 7vw 17vh 7vw !important;
  }
  header > h1 {
    font-size: 10.5vw !important;
  }

  .container > h1 {
    font-size: 5vw !important;
    margin: 4vh 0 !important;
  }

  .form-group h1 {
    font-size: 5.6vw !important;
    margin-bottom: 4vh !important;
  }

  input[type="text"] {
    font-size: 5.6vw !important;
  }

  .form-group button {
    /* width: auto !important; */
    font-size: 5.6vw !important;
    margin-top: 5.8vh !important;
  }

  .modal-dialog .modal-body h1 {
    font-size: 5.2vw !important;
  }

  .modal-dialog .modal-footer button {
    font-size: 4.2vw !important;
  }
}

@media only screen and (max-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto !important;
  }

  .modal-dialog .modal-body {
    max-height: 72vh !important;
  }

  .ReactTable .rt-tbody {
    font-size: 3.7vw;
  }

  .ReactTable .rt-thead {
    font-size: 4.2vw;
  }

  .request-title {
    font-size: 6.2vw !important;
  }
}
